.product-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: all 0.1s ease-in;

  .product-image {
    overflow: hidden;
    cursor: pointer;
    height: 100%;

    img {
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
    &:hover img {
      transform: scale(1.07);
    }
  }
  .product-name {
    line-height: 2;
    h3 {
      font-size: 1.4rem;
      font-weight: lighter;
      color: $secondary-color;
    }
  }

  .product-price {
    color: $secondary-color;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .btn-purchase {
    font-size: 0.9rem;
    padding: 0.5rem 1.7rem;
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}
