* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  border: none;
}

.container {
  max-width: 1170px;
  margin: 1rem auto 0;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-template-columns: 200px 5fr;
}

// Utilities
.btn {
  color: white;
  text-decoration: none;
  background-color: $primary-color;
  border-radius: 3px;
  padding: 0.5rem 2.6rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    filter: brightness(125%);
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}
